body {
    font-family: 'Poppins', Arial;
    background: linear-gradient(to bottom right, #b7e3ff, #e3cfff);
    margin: 0;
    padding: 0;
}

header {
    background: #ffffffaa;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 6px #0002;
}

h1 {
    margin: 0;
    font-size: 28px;
}

.contenedor {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.card {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px #0003;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

#map {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #5553;
}

form input, form select {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #8884;
    border-radius: 10px;
}

button {
    padding: 12px 15px;
    background: #6a5acd;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #5848c2;
}

.social a {
    font-size: 40px;
    margin: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.fb { color: #1877f2; }
.ig { color: #c13584; }
.tw { color: black; }

.social a:hover {
    transform: scale(1.3);
}
